h1 {
    margin: auto;
    font-size: 2rem;
    padding: 20% 0;
    background-image: url(/images/hero-mobile.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2, h1 {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    font-weight: bold;
    color: #B34A10;
    text-decoration-color: #162D56
}
.plant {
    max-width: 20%;
    margin: auto;
}
h1,h2,h3, p {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.options-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 1rem;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: solid 2px;
    padding: 1rem;
    p {
        margin: 1rem 0;
    }
    button {
        align-self: stretch;
        border-radius: 2rem;
        border: none;
        background-color: #B34A10;
        color: white;
        letter-spacing: 0.1rem;
        padding: 0.5rem 1rem;
        
    }
}