/* ORANGE #B34A10
    BLUE #162D56 */

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}





/* hero
------------------------------------ */
h1 {
    margin: auto;
    width: 100%;
    font-size: 2rem;
    padding: 20% 1px;
    background-image: url(/images/hero-mobile.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2, h1 {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    font-weight: bold;
    color: #B34A10;
    text-decoration-color: #162D56
}
.clinic {
      height: 300px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
/* subhead
-------------------------------- */
main {
    p {
        padding: 2rem;
    }
}

h1,h2, h3, h4, p {
    text-align: center;
}

/* packGES
-------------------------------- */
.packages-wrapper {
    margin: 2rem;
    gap: 3rem;
}
.package {
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    
    margin-bottom: 3rem;
    h3 {
        text-decoration: underline;
    }
    h4 {
        font-size: 2rem;
        margin-top: -1rem;
        font-weight: bold;
    }
    ul {
        position: relative;
    }
    ul::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffae3c;
        left: 50%;
        bottom: -1rem;
        transform: translateX(-50%);

    }
    
    button {
        border: none;
        background-color: #b47825;
        padding: 0.4rem 1rem;
        border-radius: 0.5rem;
        color: white;
        letter-spacing: 0.1rem;
        text-transform:uppercase;
        
    }
}
.low {
    border: solid #e38b39 2px;
    border-radius: 4px;
}
.medium {
    border: #162D56 solid 2px;
    border-radius: 4px;
    ul::after {
        background-color: #162D56;
    }
    button {
        background-color: #1d3e76;
    }
}
.high {
      border: #eab89e solid 2px;
      color: #B34A10;
    border-radius: 4px;
    /* background-image: linear-gradient(to right top, #f8da4d, #ffcb84, #ffcbc2, #ffdaef, #ffecff, #ffecff, #ffecff, #ffecff, #ffdaef, #ffcbc2, #ffcb84, #f8da4d); */
    ul::after {
        background-color: #e8c4b1;
    }
    img {
        width: 20%;
        margin: auto;
    }
    button {
        background-color: #914a24;
    }

}



/* WANT MORE
-------------------------------- */
.want-more {
    background-color: #eae1b7;
    padding: 3rem 0;
}
.list-of-services {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.prick{
    width: 20%;
    aspect-ratio: 2 / 4;
    object-position: center;
    object-fit: cover;
    border-radius: 1rem;
}


/* CALL CHARGE */
.callout-charge {
    img {
        margin: auto;
    }
}

/* HEADER 
----------------------------- */

/* FOOTER
-------------------------------- */

@media only screen and (min-width:700px) {

    h1 {
    margin: auto;
    font-size: 2rem;
    padding: 10% 0;
    width: 100vw;
    background-image: url(/images/hero-desktop.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    .packages-wrapper {
        display: flex;
    }
    .package {
        justify-content: space-between;
    }
    .high {
        img {
            max-width: 3rem;
        }
    }
    .actual-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    li {
        font-size: 1.5rem;
    }
}